header {
  text-align: center;
  padding: 1rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

img.image-post {
  width: 350px;
}
.news-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}

.news-card img {
  max-width: 100%;
  height: auto;
}

.news-card a {
  display: block;
  margin-top: 1rem;
  color: blue;
  text-decoration: underline;
}
